
h1 {
background: chartreuse;
height: 100px;
width: 1500px;
color: rgb(244, 240, 245);
font-size: 8em;
}

img {
    margin: auto;
    display: block;
}

div {
margin-right: 220px;
margin-left: 220px;
}

marquee{
font-family: 'Times New Roman', Times, serif;
}